$footer-col-max-width: 370px; //370px

//------------------------
//-- Container Footer
//------------------------
footer{
  background: $gray-dark;
  padding: 3em 0;  //42px
}



//------------------------
//-- Content Footer
//------------------------
footer .container .row .col-md-4{
  margin-bottom: 3.57143em;

  &:last-child{
    margin-bottom: 0;

    p{
      font-family: $font-family-bold;
      font-weight: bold;
    }
  }

  h2{
    font-family: $font-family-title;
    font-size: 1.42857em;
    text-transform: capitalize;
    text-align: center;
    margin: 0 auto;
  }

  .decoration{
    margin: .71429em auto;
    margin-bottom: 1.07143em;
    text-align: center;

    img{ margin: 0 auto; }
  }

  p{
    font-family: $font-family-basic;
    font-size: .85714em;
    text-align: center;
    margin: 0 auto;
    max-width: 350px;

    span{
      display: block;
    }

    strong{
      font-family: $font-family-bold;
      font-weight: bold;
    }
  }
}




//------------------------
//-- Social media Footer
//------------------------
footer .container .row .col-md-4{
  .social, .payment{
    margin: 0 auto;
    margin-top: 1.07143em;  //15px
    text-align: center;

    a, p{
      color: $gray-whiter;
      font-size: 1.14285em; //16px
      margin: 0 .25em;  //0 3.5em
      display: inline-block;
    }

    a:hover{ color: $brand-primary; }
  }
}




//----------------------
//    Responsive
//----------------------
@media(min-width:768px) {
  footer{ padding: 3em 0; }
  footer .container .row .col-md-4{ margin-bottom: 0; }

  footer .container .row .col-md-4{
    h2{ font-size: 1.11111em; max-width: $footer-col-max-width; }

    .decoration{
      margin: 1.11111em auto;
      max-width: $footer-col-max-width;

      img{ max-width: 11.11111em; /*200px*/  }
    }

    p{ font-size: .8em; max-width: $footer-col-max-width; }

    .social, .payment{
      max-width: $footer-col-max-width;
      margin-top: 1.66667em;

      a, p{ font-size: 1em;  margin: 0 .19444em; }
    }
  }
}
