//----------------------
// -- Responsive menu
//----------------------
@media screen and (max-width: 991px) {

  //----------------------
  // -- Navbar container
  //----------------------
  .navbar-inverse .container{
    width: 100%;

    .navbar-header{ width: 100%; }
  }


  //----------------------
  // -- Menu burger
  //----------------------
  .navbar-toggle{
    display: block;

    &:before{
      content: "";
      position: absolute;
      width: 40px;
      height: 40px;
      top: calc(50% - (40px / 2));
      left: calc(50% - (40px / 2));
      border: 2px solid transparent;
      border-radius: 100%;
      transition: all 0.3s ease-in-out;
    }

    &.is-active{
        transform: rotate(45deg);

        .icon-bar:nth-child(3){ opacity: 0; }
        .icon-bar:nth-child(2){ transform: translateY(6px) }
        .icon-bar:nth-child(4){ transform: translateY(-6px) rotate(90deg); }

        &:before{ border-color: $gray-whiter; }
        &:hover:before{ border-color: $brand-primary; }
    }

    .icon-bar{
      transition: all 0.3s ease-in-out;
    }

    &:hover .icon-bar{
      background-color: $brand-primary;
    }
  }


  //----------------------
  // -- Logo
  //----------------------
  .navbar-brand img{
    max-width: 78px;
  }


  //-------------------------
  // -- Navigation container
  //-------------------------
  .side-collapse-container{
    width:100%;
    position:relative;
    right:0;
    transition:right .4s;

    &.out{
      right:200px;
    }
  }

  .side-collapse {
    top:50px;
    bottom:0;
    right:-2px;
    width:200px;
    // border-left: 2px solid $brand-primary;
    position:fixed;
    overflow:hidden;
    transition:width .4s;

    &.in {
      width:0;
    }
  }


  //-------------------------
  // -- Navigation  content
  //-------------------------
  .navbar-collapse .navbar-nav{
    float: none !important;

      > li{
      text-align: center;
      width: 100%;

      &:nth-child(-n+7) a{
        font-family: 'gentium_book_basicbold';
        font-size: 1.14286em;
        text-transform: capitalize;
        border-bottom: 1px solid $brand-primary;
        padding: .9375em;

        &:hover{
          background: $brand-primary;
          transition: all .3s;

        }
      }
    }
  }


  //----------------------
  // -- Social media
  //----------------------
  .navbar-collapse .navbar-nav .rs{
    position: absolute;
    bottom: .71428em;
    width: 100%;
    text-align: center;
    height: 2.14286em;

    li{
      display: inline-block;
      outline: none;

      a{
        font-size: 1.28571em;
        margin: 0 .35714em;
        outline: none;

        &:focus{ color: $brand-primary; }
        &:hover{
          color: $gray-whiter;
          transition: all .3s;
        }
      }
    }
  }
}




//-----------------------
// -- Responsive min-md
//-----------------------
@media screen and (min-width: 992px) {

  //----------------------
  // -- Navbar home
  //----------------------
  .navbar-inverse{
    &:first-child{
      padding: 0;
      border: none;
      transition: background .5s ease-in-out,padding .5s ease-in-out;

      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&1+0,0+100 */
      background: -moz-linear-gradient(top, rgba($gray-black,1) -50%, rgba($gray-black,0) 90%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba($gray-black,1) -50%,rgba($gray-black,0) 90%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba($gray-black,1) -50%,rgba($gray-black,0) 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$gray-black, endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

      &.top-nav-collapse { background: $gray-black; }
    }

    &:last-child{ background: transparent; }
  }


  //----------------------
  // -- Navbar section
  //----------------------
  .top-nav-collapse .side-collapse .navbar-collapse .navbar-nav{
    > li a{ padding-top: 1.5em; }
    .rs{ padding-top: calc(1.4em); }
  }


  //----------------------
  // -- Logo
  //----------------------
  .navbar-inverse .navbar-header .navbar-brand img{ max-width: 95%; }
  .navbar-inverse.top-nav-collapse .navbar-header .navbar-brand img{ max-width: 65%; }


  //----------------------
  // -- Navigation
  //----------------------
  .side-collapse .navbar-collapse .navbar-nav{
    .rs, li{ display: inline-block; }

    > li{
      margin: 0 .625em;

      &:nth-child(2){ margin-left: 0; }
      &:nth-child(7){ margin-right: 0; }

      a{
        font-family: 'gentium_book_basicbold';
        font-size: .9em;
        color: $gray-whiter;
        text-transform: capitalize;
        background-color: transparent;
        padding-top: 2.5em;
        margin-top: .25em;
        outline: none;

        &:hover{
          background-color: $gray-whiter;
          border-top: .25em solid $gray-whiter;
          margin-top: 0;
          color: $gray-black;
        }

        &:focus{
          color: $gray-whiter;
        }

        &:active{
          color: $gray-black;
        }
      }


      &.active{
        background: transparent;

        a{
          background-color: transparent;
          border-top: .25em solid $gray-whiter;
          margin-top: 0;
          color: $gray-whiter;

          &:hover{
            background-color: $gray-whiter;
            color: $gray-black
          }
        }
      }
    }
  }


  //----------------------
  // -- Social media
  //----------------------
  .side-collapse .navbar-collapse .navbar-nav .rs{
    padding-top: 2.5em;

    .social{
      margin: 0px;

      a{
        padding-left: 3px;
        padding-right: 3px;
        color: lighten($brand-primary, 15%);

        &:hover,
        &:focus{
          color: lighten($brand-primary, 15%);
        }

        &:hover{
          background: transparent;
          color: $gray-whiter;
          border: none;
          margin-top: .25em;
        }
      }
    }
  }
}
