//------------------------
//-- Container Sections
//------------------------
section{
  text-align: center;
  background: lighten($gray-light, 15%);
  padding: 50px 1.42857em;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &:nth-child(2n){ background: $gray-lighting; }

  &.home-section,
  &.ingredients-section,
  &.reviews-section,
  &.about-section,
  &.menu-section,
  &.reservations-section{
    min-height: 100%;
  }

  &.home-section{ background: url(../../images/bg-home-section.jpg); background-size: cover; background-position: center; }
  &.ingredients-section{ background-image: url(../../images/bg-ingredient-section.jpg); background-size: cover; background-position: center; }
  &.reviews-section{ background-image: url(../../images/bg-reviews-section.jpg); background-size: cover; background-position: center; }

  &.about-section,
  &.reservations-section{
    background-image: url(../../images/motif-section.png);
    background-size: auto;
    background-position: center;
  }

  &.menu-section{
    background-image: url(../../images/motif-menu-section.png);
    background-size: auto;
    background-position: center;
  }
}


.navbar-inverse ~ section{
    padding-top: 50px;

    .container{
      margin-top: 25px;
    }
}



//------------------------
//-- Content Sections
//------------------------
.section{
  h2{
    font-family: $font-family-title;
    font-size: $font-size-h1;
  }

  .decoration{
    margin: 15px 0;
    margin-bottom: 35px;
  }

  p{
    font-family: $font-family-content;
    font-size: 14px;
    text-align: center;
    width: 85%;
    max-width: 430px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}




//------------------------
//-- Home section
//------------------------
.home-section .container .row .col-xs-12{
  h1{
    font-family: $font-family-title;
    font-size: 4em;
  }

  .decoration{
    margin: 2.14286em 0;
  }

  .link{
    max-width: 250px;
    margin: 0 auto;

    .btn{
      background: rgba($btn-default-color, .6);
      border: 1px solid $btn-default-color;
      color: $gray-whiter;
      font-size: $font-size-large;
      font-family: $font-family-content;
      text-transform: uppercase;
      padding: .71429em 2.14286em;
      display: inline-block;
      outline: none;

      &:hover{
        background: rgba($btn-default-color, .8);
        transition: background .3s;
      }

      &.btn-default{
        background: rgba($gray-whiter, .2);
        border: 1px solid $gray-whiter;
        color: $gray-whiter;
        margin-left: 0;
        margin-top: 1.07143em;

        &:hover{
          background: rgba($gray-whiter, .7);
          transition: background .3s;
          color: $gray-black;
        }
      }
    }
  }
}




//------------------------
//-- About section
//------------------------
.about-section .container .row .col-xs-12{
  p{
    color: $gray-black;
  }

  &:first-child > img{
    margin: 0 auto;
    padding-left: 70px;
    width: 100%;
    max-width: 280px;
  }

  &:last-child{ display: none; }
}




//------------------------
//-- Ingredients section
//------------------------
.ingredients-section .container .row .col-xs-12{
  background: rgba($gray-black, .7);

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.63+0,1+100 */
  background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.4) 0%, rgba(0,0,0,.7) 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.4) 0%,rgba(0,0,0,.7) 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(0,0,0,0.4) 0%,rgba(0,0,0,.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  padding: 2.75em;
  padding-top: 3em;
  max-width: 500px;
  margin: 0 auto;
  display: inline-block;

  &.pull-right{ float: none !important; }

  p{
    margin-bottom: 2.25em;
    width: 100%;
  }

  .col-xs-4 img{
    margin: 0 auto;
    border: .25em solid rgba($gray-whiter, .1);
    border-radius: 100%;
    width: 90%;
    max-width: 100px;
  }
}




//-------------------------
//-- reservations section
//-------------------------
.reservations-section .container .row{
  > .col-xs-12:first-child{ display: none; }
  > .col-xs-12:nth-child(2){
    form{
      max-width: 430px;
      margin: 0 auto;

      *{ outline: none; }

      .form-group{
        text-align: left;
        width: calc(100% - (1.42857em /2));
        max-width: 300px;
        margin: 0 auto;
        margin-bottom: 1.42857em;
        float: none;

        &:first-child{ display: block; }

        &.has-error{
          input{
            border-color: $state-danger-text;
          }
        }
      }

      label{
        font-family: $font-family-bold;
        font-size: 1em;
      }

      input, select{
        border-color: $gray-light;

        &:focus{
          border-color: $brand-primary;
        }
      }

      select{ border-radius: 0 !important; }

      .submit{
        width: calc(100% - 1.5em) !important;
        max-width: none;
        float: none !important;
        padding: 0 !important;
        text-align: center !important;
        margin-right: 0 !important;

        button{
          padding: .75em 3em;
          font-family: $font-family-basic;
          font-size: 1em;
          outline: none;
          margin: 0 auto;
        }
      }

      #msgSubmit{
        margin-bottom: 1.5em;
        font-family: $font-family-content;
        font-size: 3rem;
      }
    }
  }
}




//------------------------
//-- Menu section
//------------------------
.menu-section .container .row .col-sm-6{
  padding: 0 1.42857em;

 .row{
  max-width: 430px;
  margin: 0 auto;
  margin-bottom: 5em;

    + .row{
      margin-top: 5em;
    }

    .offre{
      margin-top: 1.42857em;

      &:first-child{ margin-top: 0;}
      &.special{ margin-top: 0;}
    }

    .block-special{
      text-align: right;

      > span{
        font-size: 1em;
        display: inline-block;
        background: $brand-primary;
        padding: .42857em 1.07143em;
        color: $gray-whiter;
      }
    }

    .menu-content{
      margin: 0 auto;
      padding: 10px;

      &.special{
        border: 1px solid $brand-primary;
      }
    }

    h2{
      text-transform: capitalize;
    }

    h3{
      font-size: 1.42857em;
      display: block;
      font-family: $font-family-title;
      text-transform: capitalize;
      text-align: left;
      margin-bottom: .75em;

      &:after{
        content: "";
        background: $brand-primary;
        height: 1px;
        display: block;
        margin-top: .5em;
      }
    }

    p{
      text-align: left;
      margin-bottom: 0;
      width: 100%;
    }
  }

  &:last-child .row:last-child{
      margin-bottom: 0;

      .offre:last-child .menu-content{ padding-bottom: 0; }
  }
}




//------------------------
//-- Reviews section
//------------------------
.reviews-section .container .row .col-xs-12{
  background: rgba($gray-black, .7);

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.63+0,1+100 */
  background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.6) 0%, rgba(0,0,0,.8) 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.6) 0%,rgba(0,0,0,.8) 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(0,0,0,0.6) 0%,rgba(0,0,0,.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  float: none;
  margin: 0 auto;
  padding-top: 2.75em;
  padding-bottom: 6.25em;
  max-width: 500px;

  h2{
    text-transform: capitalize;
    padding: 0 1.25em;
  }

  .decoration{ padding: 0 2.25em; }

  .content{
    position: relative;
    max-width: 430px;
    margin: 0 auto;

    .icon-quotes-right{
      position: absolute;
      text-align: left;
      display: block;
      top: -10px;;
      left: 10px;
      transform: rotate(180deg);
      font-size: 24px;
      color: #999b99;
    }

    p{
      font-family: $font-family-citation;
      font-size: 1.14285em;
      line-height: 1.2;
      width: 90%;
      margin: 0 auto;
      max-width: 440px;
      padding-left: 1.5em;
    }

    .source{
      display: inline-block;
      font-family: $font-family-content;
      font-size: .85714em;
      margin-top: 1.07143em;
    }
  }
}




//----------------------
//    Responsive
//----------------------
@media(max-width:480px) {
  .ingredients-section,
  .reviews-section{
    .container .row .col-xs-12 .decoration img{
      max-width: 200px;
    }
  }
}

@media(min-width:500px) {
  .home-section .container .row .col-sm-12 .link{
    max-width: none;

    .btn.btn-default{ margin-top: 0; margin-left: 1.5em; }
  }
}


@media(min-width:768px) {
  .section{
    &.ingredients-section,
    &.reviews-section,
    &.about-section,
    &.reservations-section{
      height: auto;
      min-height: 100%;
    }

    h2{
      font-size: 1.875em;
    }

    .decoration{
      margin: 15px 0;
      margin-bottom: 1.75em;

      img{
        width: 100%;
        max-width: 247px;
      }
    }

    p{
      font-size: .875em;
      max-width: 430px;
      margin-bottom: 2.5em;
    }
  }


  //-------------------


  .home-section{
    padding-top: 0;
    padding-bottom: 0;

    .container .row .col-sm-12{
      h1{ font-size: 4.5em; }
      .decoration{ margin: 1.5em 0; }

      .link{
        max-width: none;

        .btn{
          font-size: 1em;
          padding: .625em 2.14286em;

          &.btn-default{ margin-top: 0; margin-left: 1.5em; }
        }
      }
    }
  }


  //-------------------


  .about-section .container .row .col-sm-6{
    &:first-child > img{
      padding-left: 3.88889em;  //70px
      max-width: 280px;
    }

    &:last-child{
      display: block;

      img{
        max-width: 570px;
        width: 100%;
      }
    }
  }


  //-------------------


  .reservations-section .container .row{
    > .col-sm-6:first-child{ display: block; }
    > .col-sm-6{
      &:first-child img{
        max-width: calc( 50% - 1.25em);
        float: left;

        &:first-child{ margin-right: 1.25em; }
      }

      &:nth-child(2){
        form{
          max-width: 430px;
          margin: 0 auto;

          .form-group{
            text-align: left;
            width: calc(50% - (1.5em /2));
            margin-bottom: 1.25em;
            float: left;

            &:nth-child(2n){ margin-left: 1.5em; }
          }

          label{ font-size: .875em; }
          input, select{ font-size: .875em; }

          button{
            padding: .6em 3em;
            font-size: .875em;
            outline: none;
          }
        }
      }
    }
  }


  //-------------------


  .ingredients-section .container .row{
    .col-sm-6{
      padding: 2.75em;
      padding-top: 3em;
      max-width: none;
      margin: 0;

      &.pull-right{ float: right !important; }

      p{ margin-bottom: 2.25em; }

      .col-sm-4 img{ border: .25em solid rgba($gray-whiter, .1); }
    }
  }


  //-------------------


  .reviews-section .container .row .col-sm-6{
    padding-top: 2.75em;
    padding-bottom: 6.25em;
    max-width: none;

    .content{
      position: relative;

      .icon-quotes-right{
        position: absolute;
        text-align: left;
        display: block;
        top: -10px;;
        left: 10px;
        transform: rotate(180deg);
        font-size: 24px;
        color: #999b99;
      }

      p{
        font-size: .9em;
      }

      .source{
        font-size: .7em;
        margin-top: 1em;
      }
    }
  }


  //-------------------


  .menu-section .container .row .col-sm-6{
    padding: 0 20px;

    .row{
      margin-bottom: 3.5em;
      max-width: 430px;

      + .row{
        margin-top: 3.5em;
      }

      .offre{ margin-top: 1em; }

      .block-special > span{
        font-size: .7em;
        padding: .3em 1em; }

      .menu-content{ padding: 10px; }

      h3{
        font-size: 1.05em;
        margin-bottom: .75em;

        &:after{ margin-top: .5em; }
      }
    }
  }
}



@media(min-width:992px) {
  .navbar-inverse ~ section{
      padding-top: 3.35em;

      .container{ margin-top: 1.25em; }
  }

  .section{
    h2{ font-size: 1.8em;  }
    p{ font-size: .8em; }
    .decoration img{ width: 50%; }
  }

  .home-section .container .row .col-sm-12 .link .btn{
    font-size: .9em;
    padding: .65em 1.75em;
  }

  .reservations-section .container .row .col-sm-6{
    &:first-child img{
      max-width: calc( 50% - 1.5em);

      &:first-child{ margin-right: 1.5em; }
    }

    &:nth-child(2){
      form{
        .form-group{ margin-bottom: 1.5em; }
        label{ font-size: .8em; }
        input, select{ font-size: .8em; }
      }
    }
  }
}
