//Colors
$color-theme-primary: $yellow;
$color-theme-secondary: $yellow-100;



//fonts-family
$font-family-title: 'yeseva_oneregular';
$font-family-content: 'latoregular';
$font-family-citation: 'gentium_book_basicregular';
$font-family-bold: 'open_sansbold';
$font-family-placeholder: 'open_sansitalic';
$font-family-basic: 'open_sansregular';
$font-family-nav: 'gentium_book_basicbold';



// Buttons
$btn-default-color: $gray-1000 !default;
$btn-default-bg: $black !default;
